<app-menu></app-menu>
<div class='component-content'>
  <div class=''>
    <div class='lefthalf'>
      <span class='component-title'>[{{title}}]</span>
    </div>
  </div>
  <table class="table table-sm" *ngIf='user'>
    <tr>
      <td>User Name</td>
      <td>{{ user.userName }}</td>
    </tr>
    <tr>
      <td>FirstName</td>
      <td>{{ user.firstName }}</td>
    </tr>
    <tr>
      <td>Last Name</td>
      <td>{{ user.lastName }}</td>
    </tr>
    <tr>
      <td>Phone</td>
      <td>{{ user.phoneNumber }}</td>
    </tr>
    <tr>
      <td>Email</td>
      <td>{{ user.email }}</td>
    </tr>
    <tr>
      <td>Admin</td>
      <td>{{ user.isAdmin }}</td>
    </tr>
    <tr>
      <td>Reviewer</td>
      <td>{{ user.isReviewer }}</td>
    </tr>
    <tr>
      <td colspan="2">
        <a *ngIf='loggedInUser.isAdmin || loggedInUser.userName == user.userName' routerLink='/user/edit/{{user.id}}' class='btn btn-primary' title='Edit' style='margin-right: 5px'>Edit</a>
        <button *ngIf='loggedInUser.isAdmin' (click)="remove()" class='btn btn-danger' title='Delete'>Remove</button>
      </td>
    </tr>
  </table>
</div>
