<app-menu></app-menu>
<h1 class="h1 text-center">What is the Purchase Request System? (PRS)</h1>
<div class="container">
  <table class="mx-auto">
    <td>
      <img src="../../../assets/PRS-Code.jpg" class="img-responsive float-left rounded mx-auto d-block"
        alt="PRS Code" />
    </td>
    <td>
      <img src="../../../assets/Dual-Screen Coding.jpg" class="img-responsive rounded mx-auto d-block" alt="PRS Code" />
    </td>
  </table>
  <p class="text-center text-justify">
    The <b>Purchase Request System</b> is an intranet application used by
    company employees to submit requests to purchase specific items from
    specific vendors with approval from management as determined through
    business rules. The status of each request should be readily visible and
    allow all users to see where things stand with each request that is in
    process.
  </p>
  <h2 class="h2 text-center">
    What Technologies Are Used To Build This Application?
  </h2>
  <table>
    <td>
      <img src="../../../assets/HTML5-icon.png" class="programmingLanguages mx-auto d-block" />
    </td>
    <td>
      <img src="../../../assets/CSS-3.png" class="programmingLanguages mx-auto d-block" />
    </td>
    <td>
      <img src="../../../assets/JavaScript.png" class="programmingLanguages mx-auto d-block" />
    </td>
    <td>
      <img src="../../../assets/angular-icon.svg" class="programmingLanguages mx-auto d-block" />
    </td>
    <td>
      <img src="../../../assets/mysql.svg" class="programmingLanguages mx-auto d-block" />
    </td>
  </table>
  <p class="text-align-right" float-right>
    "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
    non proident, sunt in culpa qui officia deserunt mollit anim id est
    laborum."
  </p>
</div>
