<app-menu></app-menu>
<div class='container'>
  <div class="whatIsPRS">
    <h1 class="h1 text-center">What is the Purchase Request System? (PRS)</h1>
    <div class="mx-auto row">
      <div class="col">
        <img src="../../../assets/PRS-Code.jpg" class="img-responsive rounded mx-auto d-block" alt="PRS Code" />
      </div>
      <div class="col">
        <img src="../../../assets/Dual-Screen Coding.jpg" class="img-responsive rounded mx-auto d-block"
          alt="PRS Code" />
      </div>
    </div>
    <p class="text-center text-justify">
      The <b>Purchase Request System</b> is an intranet application used by
      company employees to submit requests to purchase specific items from
      specific vendors with approval from management as determined through
      business rules. The status of each request should be readily visible and
      allow all users to see where things stand with each request that is in
      process.
    </p>
  </div>
  <div class="whatTechnologies">
    <h2 class="h2 text-center">
      What Technologies Are Used To Build This Application?
    </h2>
    <div class="row">
      <div class="col">
        <img src="../../../assets/HTML5-icon.png" class="programmingLanguages mx-auto d-block" />
      </div>
      <div class="col">
        <img src="../../../assets/CSS-3.png" class="programmingLanguages mx-auto d-block" />
      </div>
      <div class="col">
        <img src="../../../assets/js.png" class="programmingLanguages mx-auto d-block" />
      </div>
      <div class="col">
        <img src="../../../assets/angular-icon.svg" class="programmingLanguages mx-auto d-block" />
      </div>
      <div class="row mx-auto">
        <div class="col"><img src="../../../assets/mysql.png"
            class="secondRowImages programmingLanguages mx-auto d-block"></div>
        <div class="col"><img src="../../../assets/Java_Logo.svg.png"
            class="secondRowImages programmingLanguages mx-auto d-block"></div>
        <div class="col"><img src="../../../assets/Spring-Boot-Logo.svg.png"
            class="secondRowImages programmingLanguages mx-auto d-block">
        </div>
      </div>
    </div>
  </div>
</div>
