<app-menu></app-menu>
<div class='component-content'>
  <div class=''>
    <div class='lefthalf'>
      <span class='component-title'>[{{title}}]</span>
    </div>
  </div>
  <table class="table table-sm" *ngIf='product'>
    <tr>
      <td>Vendor</td>
      <td>{{ product.vendor.name }}</td>
    </tr>
    <tr>
      <td>Part Number</td>
      <td>{{ product.partNumber }}</td>
    </tr>
    <tr>
      <td>Product Name</td>
      <td>{{ product.name }}</td>
    </tr>
    <tr>
      <td>Price</td>
      <td>{{ product.price }}</td>
    </tr>
    <tr>
      <td>Unit</td>
      <td>{{ product.unit }}</td>
    </tr>
    <tr>
      <td>Photo</td>
      <td><img src="../../../../assets/{{ product.photoPath }}" alt="{{ product.photoPath }}" height='360px'></td>
    </tr>
    <tr>
      <td *ngIf='loggedInUser.admin' colspan="2">
        <a routerLink='/product/edit/{{product.id}}' class='btn btn-primary' title='Edit' style='margin-right: 5px'>Edit</a>
        <button (click)="remove()" class='btn btn-danger' title='Delete'>Remove</button>
      </td>
    </tr>
  </table>
</div>
