<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a routerLink="/home" class="navbar-brand"><img class='img-responsive' src="../../../assets/PRS-Logo-2-Resized.png"
      alt=""></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" *ngFor="let mi of menuItems" title="{{mi.tooltip}}">
        <a *ngIf='user' class="nav-link" routerLink="{{mi.href}}">{{mi.display}}</a>
        <a *ngIf='!user' class="nav-link disabled">{{mi.display}}</a>
      </li>
      <li class="nav-item">
        <a *ngIf="user && user.reviewer" class="nav-link" routerLink="/purchase-request/review">Review</a>
      </li>
    </ul>
    <ul *ngIf='!user' class="navbar-nav navbar-right">
      <li class="nav-item">
        <a class="nav-link" routerLink="/user/login">Login</a>
      </li>
    </ul>
    <ul *ngIf='user' class='navbar-nav navbar-right'>
      <li class='nav-item dropdown'>
        <a class="nav-link dropdown-toggle" id='navbarDropdown' role='button' href='#' data-toggle='dropdown'
          aria-haspopup="true" aria-expanded="false">Hello,
          {{user.firstName}}
          {{user.lastName}}</a>
        <div class='dropdown-menu' aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink='/user/detail/{{user.id}}'>My Account</a>
          <div class='dropdown-divider'></div>
          <a class="dropdown-item" href='#'>Logout</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
