<app-menu></app-menu>
<div class='component-content'>
  <div>
    <span class='component-title'>[{{title}}]</span>
  </div>
  <p *ngIf='!user'>Loading...</p>

  <div *ngIf='user'>
    <hr />
    <div class="form-group row">
      <label class='col-form-label col-sm-2' for="userfirstname">First name:</label>
      <input [(ngModel)]='user.firstName' name='FirstName' type="text" class="form-control col-sm-6" id="userfirstname"
        aria-describedby="fnameHelp" placeholder="FirstName">
      <small id="fnameHelp" class="form-text text-muted col-sm-2">User's First Name</small>
    </div>
    <hr />
    <div class="form-group row">
      <label class='col-form-label col-sm-2' for="userlastName">Last name:</label>
      <input [(ngModel)]='user.lastName' name='LastName' type="text" class="form-control col-sm-6" id="userlastname"
        aria-describedby="lnameHelp" placeholder="LastName">
      <small id="lnameHelp" class="form-text text-muted col-sm-2">User's Last Name</small>
    </div>
    <hr />
    <div class="form-group row">
      <label class='col-form-label col-sm-2' for="username">Username:</label>
      <input [(ngModel)]='user.userName' name='UserName' type="text" class="form-control col-sm-6" id="username"
        aria-describedby="unameHelp" placeholder="UserName">
      <small id="unameHelp" class="form-text text-muted col-sm-2">User's UserName</small>
    </div>
    <hr />
    <div class="form-group row">
      <label class='col-form-label col-sm-2' for="phone">Phone:</label>
      <input [(ngModel)]='user.phoneNumber' name='PhoneNumber' type="text" class="form-control col-sm-6" id="phone"
        aria-describedby="phoneHelp" placeholder="PhoneNumber">
      <small id="phoneHelp" class="form-text text-muted col-sm-2">User's Phone Number</small>
    </div>
    <hr />
    <div class="form-group row">
      <label class='col-form-label col-sm-2' for="email">Email:</label>
      <input [(ngModel)]='user.email' name='Email' type="text" class="form-control col-sm-6" id="email"
        aria-describedby="emailHelp" placeholder="Email">
      <small id="emailHelp" class="form-text text-muted col-sm-2">User's Email</small>
    </div>
    <hr />
    <div class="form-group row">
      <label class='col-form-label col-sm-2' for="userAdmin">Admin:</label>
      <input [(ngModel)]='user.admin' name='Admin' type="checkbox" class="form-control col-sm-6" id="userAdmin"
        aria-describedby="adminHelp" placeholder="Admin">
      <small id="adminHelp" class="form-text text-muted col-sm-2">Admin Authority</small>
    </div>
    <hr />
    <div class="form-group row">
      <label class='col-form-label col-sm-2' for="userReviewer">Reviewer:</label>
      <input [(ngModel)]='user.reviewer' name='Reviewer' type="checkbox" class="form-control col-sm-6" id="userReviewer"
        aria-describedby="reviewerHelp" placeholder="Reviewer">
      <small id="reviewerHelp" class="form-text text-muted col-sm-2">Reviewer Authority</small>
    </div>
    <hr />
    <div class='form-group'>
      <button (click)='edit()' class='btn btn-primary'>Update</button>
    </div>
  </div>
</div>