<app-menu></app-menu>
<div class='component-content'>
  <div class=''>
    <div class='lefthalf'>
      <span class='component-title'>[{{title}}]</span>
    </div>
  </div>
  <table class="table table-sm" *ngIf='pr'>
    <tr>
      <td>User</td>
      <td>{{ pr.user.userName }}</td>
    </tr>
    <tr>
      <td>Description</td>
      <td>{{ pr.description }}</td>
    </tr>
    <tr>
      <td>Justification</td>
      <td>{{ pr.justification }}</td>
    </tr>
    <tr>
      <td>Date Needed</td>
      <td>{{ pr.dateNeeded }}</td>
    </tr>
    <tr>
      <td>Delivery Mode</td>
      <td>{{ pr.deliveryMode }}</td>
    </tr>
    <tr>
      <td>Status</td>
      <td>{{ pr.status }}</td>
    </tr>
    <tr>
      <td>Total</td>
      <td>{{ pr.total }}</td>
    </tr>
    <tr>
      <td>Submitted Date</td>
      <td>{{ pr.submittedDate }}</td>
    </tr>
    <tr>
      <td>Reason For Rejection</td>
      <td>{{ pr.reasonForRejection }}</td>
    </tr>
    <tr>
      <td colspan="2">
        <a *ngIf='loggedInUser.admin || loggedInUser.userName == pr.user.userName && pr.status == "New" || pr.status == "Rejected"' routerLink='/purchase-request/edit/{{pr.id}}' class='btn btn-primary' title='Edit' style='margin-right: 5px'>Edit</a>
        <button *ngIf='loggedInUser.admin' (click)="remove()" class='btn btn-danger' title='Delete'>Remove</button>
      </td>
    </tr>
  </table>
</div>
